<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeerSwap</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>sign in or sign up</h1>
        <form class="sign-page" action="/login" method="post">
            <input  class="input" type="text" placeholder="enter username" name="username" >
            <br><br>
            <input class="input" type="password" placeholder="enter password" name="password">
            <br><br>
            <button class="btn"> sign in</button>
            <p>new user <a href="/signup">signup</a></p>
            
        </form>

    </div>
    
</body>
</html>