<nav>
    <ul>
        <li><a href="/myProfile">MYprofile</a></li>
        <li><a href="/chatSection">chatSection</a></li>
        <li><a href="/setting">settings</a></li>
        
        
    </ul>
</nav>