<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeerSwap</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="container">
        <h1>sign up</h1>
        <form class="sign-page" action="/signup" method="post">
             <input  class="input" type="text" placeholder="enter name" name="name" >
             <br><br>
            <input  class="input" type="text" placeholder="enter email" name="email" >
            <br><br>
            <input class="input" type="tel" name="otp" placeholder="enter OTP" inputmode="numeric" pattern="[0-9]*" maxlength="6" />
            <br><br>
            <input class="input" type="password" placeholder="set password" name="password">
            <br><br>
           
            <button class="btn"> sign up</button>
            
            
        </form>
    
</body>
</html>