<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skills</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>select skills</h1>
    <div class="checkbox-group">
        <input type="checkbox" id="opt1" value="C++">
        <label for="opt1">C++</label>

        <input type="checkbox" id="opt2" value="JAVA">
        <label for="opt2">JAVA</label>

        <input type="checkbox" id="opt3" value="JavaScript">
        <label for="opt3">JavaScript</label>
    </div>

</body>

</html>